/* src/app/globals.css */
@import "tailwindcss";

/* --- Variables + génération des utilitaires --- */
@theme inline {
	/* Couleurs => classes bg-surface, text-primary, etc. */
	--color-bg: #1e1e1e;
	--color-surface: #292929;
	--color-primary: #d2782c;
	--color-primary-light: #e0c9a6;
	--color-primary-dark: #a15811;
	--color-text: #e4e4e4;
	--color-muted: #8b8b8b;

	/* Polices => classes font-title, font-subtitle, font-body */
	--font-title: "Bad Grunge", sans-serif;
	--font-subtitle: "Bebas Neue", sans-serif;
	--font-body: "Roboto", sans-serif;

	/* Divers */
	--radius-lg: 0.75rem; /* utilisable via rounded-lg */
	--ring: 2px; /* utilisable via ring */
}

/* Polices locales (facultatif si via @font-face) */
@font-face {
	font-family: "Bad Grunge";
	src: url("/fonts/BadGrunge.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Bebas Neue";
	src: url("/fonts/BebasNeue.woff2") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Light.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

body {
	min-height: 100vh;
	background-image: url("/images/Background/bg-zombie.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

header {
	background-image: url("/images/Background/bg-zombie.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* on commence le scroll a partir de 73px pour se trouver au bon endroit */
[id] {
	scroll-margin-top: 73px; /* ajuste selon la hauteur de ton header sticky */
}
nextjs-portal,
nextjs-portal * {
	display: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.leaflet-popup-content a {
	all: unset;
	color: #f97316 !important;
	text-decoration: underline;
	font-weight: 600;
	cursor: pointer;
}
.leaflet-popup-content a:hover {
	color: #ea580c !important;
}

@keyframes slide-in-right {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-out-right {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(100%);
		opacity: 0;
	}
}

.animate-slide-in-right {
	animation: slide-in-right 0.4s ease-out forwards;
}

.animate-slide-out-right {
	animation: slide-out-right 0.4s ease-in forwards;
}
